body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    font-family: "Times New Roman";
}

p {
    font-family: "Century Schoolbook";
    font-weight: lighter;
}

img {
    border: 8px solid gray;
    width: 300px;
    height: 200px;
}